<div class="signup-container">
  <div class="signup-card">
    <h2>Admin Registration</h2>
    <p>Create an administrative account to manage the portal</p>

    <form [formGroup]="adminForm" (ngSubmit)="onSubmit()">
      
      <div class="form-group">
        <label>Full Name</label>
        <input type="text" formControlName="fullName" placeholder="Enter your full name">
        @if (adminForm.get('fullName')?.touched && adminForm.get('fullName')?.invalid) {
          <small class="error">Name must be at least 3 characters long.</small>
        }
      </div>

      <!--<div class="form-group">
        <label>Admin Access Code</label>
        <input type="text" formControlName="adminCode" placeholder="e.g. ADM12345">
        @if (adminForm.get('adminCode')?.touched && adminForm.get('adminCode')?.invalid) {
          <small class="error">Enter a valid 5-10 character alphanumeric code.</small>
      } 
      </div>-->

      <div class="form-group">
        <label>Email Address</label>
        <input type="email" formControlName="email" placeholder="admin@portal.com">
        @if (adminForm.get('email')?.touched && adminForm.get('email')?.invalid) {
          <small class="error">Please enter a valid email address.</small>
        }
      </div>

      <div class="form-group">
        <label>Phone Number</label>
        <input type="tel" formControlName="phone" placeholder="10-digit mobile number">
        @if (adminForm.get('phone')?.touched && adminForm.get('phone')?.invalid) {
          <small class="error">Enter a valid 10-digit phone number.</small>
        }
      </div>

      <div class="form-group">
        <label>Create a Password</label>
        <input type="password" formControlName="password" placeholder="Min 6 characters">
        @if (adminForm.get('password')?.touched && adminForm.get('password')?.invalid) {
          <small class="error">Password must be at least 6 characters.</small>
        }
      </div>

      <button type="submit" class="btn-submit" [disabled]="adminForm.invalid">
        Register Admin
      </button>

      <div class="footer-note">
        <p>Return to <a routerLink="/">Home</a></p>
      </div>
    </form>
  </div>
</div>